<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h2>Login</h2>
    {% comment %}
    <form>
      <table>
        {{form.as_table}}
      </table>
    </form>
    {% endcomment %}
    <form>
      <table>
        {{form.as_table}}
      </table>
    </form>
    <form>
      <table>
        {{form.as_table}}
      </table>
    </form>
  </body>
</html>
